<app-header-post-login></app-header-post-login>

<main>
  <h2>Administration</h2>

  <div class="admin-container">
    <div class="requests">
      <h3>Demande d'attribution</h3>
      <div class="filter">
        <label for="filter-type">Type :</label>
        <input type="text" id="filter-type" placeholder="Filtrer par type" [(ngModel)]="filterType" (input)="applyFilter()">
      </div>
      <table>
        <thead>
          <tr>
            <th>Type</th>
            <th>État</th>
            <th>Utilisateur demandant</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of filteredMaterialRequests">
            <td>{{ request.material.type }}</td>
            <td>{{ request.status }}</td> <!-- Assurez-vous que c'est 'status' ici -->
            <td>{{ request.user.name }}</td>
            <td>
              <button class="btn-approve" (click)="approveRequest(request._id)">Accorder</button>
              <button class="btn-deny" (click)="denyRequest(request._id)">Refuser</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="inventory">
      <h3>Liste matériel renseigné</h3>
      <div class="filter">
        <label for="filter-type">Type :</label>
        <input type="text" id="filter-type" placeholder="Filtrer par type" [(ngModel)]="filterType" (input)="applyFilter()">
      </div>
      <table>
        <thead>
          <tr>
            <th>Intitulé</th> <!-- Ajouter la colonne 'Intitulé' -->
            <th>Type</th>
            <th>Utilisé par</th>
            <th>Salle</th>
            <th>Réservé aux organisations</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let material of filteredMaterials">
            <td>{{ material.intitule }}</td> <!-- Assurez-vous que c'est 'intitule' ici -->
            <td>{{ material.type }}</td>
            <td>{{ material.utilisePar?.name }}</td>
            <td>{{ material.salle }}</td>
            <td>{{ material.organisation ? 'Oui' : 'Non' }}</td>
            <td>
              <button class="btn-remove" (click)="removeMaterial(material)">Retirer</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="add-material">
        <button (click)="openAddMaterialDialog()" class="btn btn-primary">Ajouter un matériel +</button>
      </div>
    </div>
  </div>
</main>
