<app-header-post-login></app-header-post-login>

<main>
  <h2>Administration</h2>

  <div class="admin-container">
    <div class="requests">
      <h3>Demande d'attribution</h3>
      <div class="filter">
        <label for="filter-type">Type :</label>
        <input type="text" id="filter-type" placeholder="Filtrer par type" [(ngModel)]="filterType" (input)="applyFilter()">
      </div>
      <table>
        <thead>
          <tr>
            <th>Type</th>
            <th>Etat</th>
            <th>Utilisateur demandant</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of filteredMaterialRequests">
            <td>{{ request.material.type }}</td>
            <td>{{ request.statut }}</td>
            <td>{{ request.user.name }}</td>
            <td>
              <button class="btn-approve" (click)="approveRequest(request._id)">Accorder</button>
              <button class="btn-deny" (click)="denyRequest(request._id)">Refuser</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="inventory">
      <h3>Liste matériel renseigné</h3>
      <div class="filter">
        <label for="filter-type">Type :</label>
        <input type="text" id="filter-type" placeholder="Filtrer par type" [(ngModel)]="filterType" (input)="applyFilter()">
      </div>
      <table>
        <thead>
          <tr>
            <th>Type</th>
            <th>Utilisé par</th>
            <th>Salle</th>
            <th>Réservé aux organisations</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let material of filteredMaterials">
            <td>{{ material.type }}</td>
            <td>{{ material.utilisePar?.name }}</td>
            <td>{{ material.salle }}</td>
            <td>{{ material.organisation ? 'Oui' : 'Non' }}</td>
            <td>
              <button class="btn-remove" (click)="removeMaterial(material)">Retirer</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="add-material">
        <h3>Ajouter un matériel</h3>
        <form (ngSubmit)="addMaterial()">
          <div class="form-group">
            <label for="material-type">Type</label>
            <input type="text" id="material-type" [(ngModel)]="newMaterial.type" name="type" required>
          </div>
          <div class="form-group">
            <label for="material-location">Salle</label>
            <input type="text" id="material-location" [(ngModel)]="newMaterial.salle" name="location" required>
          </div>
          <div class="form-group">
            <label for="reserveAuxOrganisations">Réservé aux organisations</label>
            <input type="checkbox" id="reserveAuxOrganisations" [(ngModel)]="newMaterial.organisation" name="reserveAuxOrganisations">
          </div>
          <button type="submit" class="btn-add">Ajouter</button>
        </form>
      </div>
    </div>
  </div>
</main>
