<h1 mat-dialog-title>Ajouter un matériel</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Intitulé du matériel</mat-label>
    <input matInput [(ngModel)]="data.intitule" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Type</mat-label>
    <input matInput [(ngModel)]="data.type" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Salle</mat-label>
    <input matInput [(ngModel)]="data.salle" required>
  </mat-form-field>
  <mat-checkbox [(ngModel)]="data.organisation">Réservé aux organisations</mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ajouter</button>
</div>
