<app-header></app-header>

<main>
  <h2>Créer un compte</h2>
  <p>Veuillez remplir les informations ci-dessous pour créer un compte.</p>
  
  <div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="form-group">
        <label for="name">Nom:</label>
        <input type="text" id="name" formControlName="name" required>
        <div *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)" class="error-message">
          <div *ngIf="registerForm.get('name')?.errors?.['required']">Le nom est requis.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" required>
        <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)" class="error-message">
          <div *ngIf="registerForm.get('email')?.errors?.['required']">L'email est requis.</div>
          <div *ngIf="registerForm.get('email')?.errors?.['email']">Format d'email invalide.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" formControlName="password" required>
        <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)" class="error-message">
          <div *ngIf="registerForm.get('password')?.errors?.['required']">Le mot de passe est requis.</div>
          <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Le mot de passe doit comporter au moins 6 caractères.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="role">Rôle:</label>
        <select id="role" formControlName="role" required>
          <option value="1">Utilisateur</option>
          <option value="2">Organisation</option>
          <option value="0">Admin</option>
        </select>
      </div>
      <div *ngIf="registerError" class="error-message">{{ registerError }}</div>
      <div class="button-group">
        <button type="button" class="btn-cancel" (click)="cancel()">Annuler</button>
        <button type="submit" class="btn-submit">Créer le compte</button>
      </div>
    </form>
  </div>
</main>
