.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-container {
  width: 80%;
  margin: 0 auto;
}

.filter {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f2f2f2;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  text-align: left;
}

.btn-request {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.btn-request:hover {
  background-color: #218838;
}

.btn-request-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-remove {
  background-color: #dc3545;
  color: white;
}

.btn-remove:hover {
  background-color: #c82333;
}

button {
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 8px;
}

.btn-change {
  background-color: #2880b3;
  color: white;
}

.btn-change:hover {
  background-color: #1f6aa9;
}