main {
    text-align: center;
    margin-top: 50px;
}

main h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

main p {
    font-size: 16px;
    margin-bottom: 20px;
}

form {
    display: inline-block;
    text-align: left;
    width: 100%; /* Pour que le formulaire prenne toute la largeur */
    max-width: 300px; /* Limiter la largeur maximale du formulaire */
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alignement à gauche */
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: left;
    padding-left: 2px; /* Petit padding pour aligner le texte */
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #fff;
}

.btn-submit {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
}

.btn-submit:hover {
    background-color: #218838;
}

.center-button {
    display: flex;
    justify-content: center;
}