/* Styles pour le formulaire de profil */

.profile-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligne les labels à gauche */
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .btn {
    width: 48%;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
  }
  
  .btn-cancel {
    background-color: #6c757d;
    margin-right: 4%;
  }
  
  .btn-cancel:hover {
    background-color: #5a6268;
  }
  
  .btn-submit {
    background-color: #28a745;
  }
  
  .btn-submit:hover {
    background-color: #218838;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .message {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .main-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 0.5em;
}
  