/* Styles pour le formulaire et le bouton */

main {
  text-align: center;
  margin-top: 50px;
}

main h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

main p {
  font-size: 16px;
  margin-bottom: 20px;
}

main h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

form {
  display: inline-block;
  text-align: left;
}

form label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  font-size: 14px;
}

form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #fff;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.btn-submit {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
}

.btn-submit:hover {
  background-color: #218838;
}

.center-button {
  display: flex;
  justify-content: center;
}

.create-account-link {
  color: #00aaff;
  text-decoration: none;
}

.create-account-link:hover {
  text-decoration: underline;
}
